# COPY THIS TO YOUR .env FILE

CRYPTO_HOST=localhost
CRYPTO_PORT=5434
CRYPTO_DBNAME=db_crypto
CRYPTO_USER=postgres
CRYPTO_PASSWORD=secret

STORE_HOST=localhost
STORE_PORT=5433
STORE_DBNAME=db_store
STORE_USER=postgres
STORE_PASSWORD=secret

KAFKA_CLUSTER_ID=TzXh8YqKRYyF5vJZ3xKqWg

AIRFLOW_DBNAME=airflow
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow

AIRFLOW_UID=1000

_PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-docker
